/* src/global.css ou no seu arquivo global */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede a rolagem horizontal */
  width: 100%;
  background-color: #252524;
  scroll-behavior: smooth;
}

/* Personalizando a barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /* Largura da scrollbar (padrão: 12px) */
  height: 2px; /* Altura da scrollbar horizontal */
}

/* Personalizando o track (o fundo da barra de rolagem) */
::-webkit-scrollbar-track {
  background: #252524; /* Cor do fundo da scrollbar */
  border-radius: 10px; /* Bordas arredondadas no track */
}

/* Personalizando o thumb (a parte que é arrastada) */
::-webkit-scrollbar-thumb {
  background: #0B7BC2; /* Cor do thumb */
  border-radius: 10px; /* Bordas arredondadas no thumb */
}

/* Mudando a cor do thumb quando ele é hover (quando o mouse passa por cima) */
::-webkit-scrollbar-thumb:hover {
  background: #1290E2; /* Cor do thumb quando estiver sendo hover */
}

/* Personalizando a barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
  height: 12px;
}
